<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/db_edits.css" rel="stylesheet" type="text/css" />
    <script src="/static/db_edits.js"></script>
</head>
<body class="db_edits">
    <h1>Teikumu Pievienošana</h1>

    <form id="add_sentence_form">
        <label>Teikums:</label>
        <input type="text" id="sentence" required><br>

        <label>Pazudušā vārda indekss:</label>
        <input type="number" id="word_index" required min="0"><br>

        <label>Piemēri (atdali ar komatu):</label>
        <input type="text" id="examples" required><br>

        <label>Grūtības pakāpe:</label>
        <select id="difficulty">
            <option value="easy">Vienkārši</option>
            <option value="medium">Viduvēji</option>
        </select><br>

        <button type="submit">Pievienot</button>
    </form>

    <a href = "/"><button type = "button">ATPAKAĻ</button></a>
</body>
</html>