<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="default">
    <h1>Ievadi datus</h1>
    <form method="post">
        <fieldset>
             <label for="username">Lietotājvārds</label>
             <input type="text" id="username" name="username" required>
             <br><br>
             <label for="password">Parole</label>
             <input type="text" id="password" name="password" required autocomplete="off">
             <br><br>
        </fieldset>
        <blockquote>
             <input type="submit" value="Aiziet">
        </blockquote>
   </form>
   <a href = "/"><button type = "button">ATPAKAĻ</button></a>
</body>
</html>