<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="default">
    <div id="sakums">
        {%if 'user_id' not in session%}
            <form method="POST" id="acc-btns">
                <button type="submit" name="account" value="login">PIESLĒGTIES</button>
                <button type="submit" name="account" value="signup">IZVEIDOT KONTU</button>
            </form>
        {%endif%}

        <form method="POST" action="/new_sentence" id="lvl-btns">
            <button type="submit" name="level" value="easy" id="lvl1-btn">VIENKĀRŠI</button>
            <button type="submit" name="level" value="medium" id="lvl2-btn">GRŪTĀKI</button>
        </form>
        {%if 'user_id' in session%}
            <a href = "/user_info"><button type = "button" id="info-btn">INFO</button></a>
            <form method="POST" action="/logout">
                <button type="submit" name="logout">LOGOUT</button>
            </form>
        {%endif%}

        {%if session['username'] == 'Admin'%}
            <a href = "/db_edits"><button type = "button" id="info-btn">PIEVIENOT JAUNU TEIKUMU</button></a>
        {%endif%}
    </div>
</body>
</html>